image: Visual Studio 2022
platform: x64
skip_tags: true
init:
  - ps: '$env:DD_TAG=''DD-''+(get-date -format "yyyyMMddHH")'
build:
  parallel: true
  verbosity: minimal
install:
  - 'set QTDIR=C:\Qt\6.9.3\msvc2019_64'
  - set PATH=%QTDIR%\bin;%PATH%
  - cmd: >-
      call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
build_script:
  - git submodule update --init --recursive
  - mkdir tbb-build && cd tbb-build
  - cmake -DCMAKE_BUILD_TYPE=Release -DTBB_TEST=OFF -DCMAKE_INSTALL_PREFIX=../tbb ../oneTBB
  - cmake --build . --target INSTALL --config Release --parallel 4
  - cd ..
  - qmake -config release damping-dolphin.pro
  - nmake
after_build:
  - mkdir deploy
  - cd deploy
  - copy ..\release\damping-dolphin.exe damping-dolphin.exe
  - copy ..\lib\win-gcc\lib*.dll .
  - copy ..\tbb\bin\tbb*.dll .
  - windeployqt damping-dolphin.exe
  - 7z a damping-dolphin-win.zip *
artifacts:
  - path: deploy/damping-dolphin-win.zip
    name: damping-dolphin-win
for:
  - branches:
      only:
        - master
    deploy:
      - provider: GitHub
        tag: $(DD_TAG)
        auth_token:
          secure: giWpI6yIB8tVzw0pu5+N3VKDGpc8P9kv5zlcXO4a4wIItSDVU4no/VD/+n4na29E
        artifact: damping-dolphin-win
        force_update: true
